<h1>
	Welcome to the RESTaurant!
</h1>

<h3>
	Please navigate the website using the links below:
</h3>

<h4>
	<a href="/foods">
		Menu
	</a>
</h4>

<h4>
	<a href="/parties">
		Current Parties
	</a>
</h4>

<!-- <h4>
	<a href="/orders">
		Create a New Order
	</a>
</h4> -->