<h1>
	Menu
</h1>

<ol>
	<% @foods.each do |food| %>
		<li>
			<a class="menu" href="/foods/<%= food.id %>">
				<%= food.name %>
			</a>
		</li>
	<% end %>
</ol>

<footer>
	<a class="nav" href="/foods/new">
		Add New Item
	</a>
	<a class="nav" href="/">
		Home
	</a>
</footer>