<h1>
	Menu
</h1>

<ul>
	<% @foods.each do |food| %>
		<li>
			<a href="/foods/<%= food.id %>">
				<%= food.name %>
			</a>
		</li>
	<% end %>
</ul>







<h4>
	<a href="/foods/new">
		Add New Item
	</a>
</h4>
<h4>
	<a href="/">Home</a>
</h4>