<h1>
  Menu
</h1>

<div class="content">
  <ol>
    <% @foods.each do |food| %>
      <li>
        <a class="menu" href="/foods/<%= food.id %>">
          <%= food.name %>
        </a>
      </li>
    <% end %>
  </ol>
</div>

<div>
  <footer>
    <a class="nav" href="/foods/new">
      Add New Item
    </a>
    <a class="nav" href="/">
      Home
    </a>
  </footer>
</div>	