<% if @errors %>
<div class="errors">
<h1>FIRE AT THE DISCO! YOU HAVE <%= @errors.count %> <%= @errors.count == 1 ? "ERROR" : "ERRORS" %>.</h1>
  <ul>
    <% @errors.each do |error|  %>
      <li><h2><%= error %></h2></li>
    <% end %>
  </ul>
</div>
<% end %>

<h2>
	Add a New Food to the Menu
</h2>

<form action="/foods" method="post">
	<p> 
		Name:
		<input type="text" name="food[name]" />
	</p>	
	<p>
		Cuisine: 
		<input type="text" name="food[cuisine]" />
	</p>
	<p>
		Price:
		<input type="text" name="food[price]" />
	</p>
	<p>
		Allergens:
		<input type="text" name="food[allergens]" />
	</p>
	<p>
		Spicy Level:
		<input type="text" name="food[spicy_level]" />
	</p>
	<input type="submit" value="Add Food" />
</form>






<h4>
	<a href="/foods">Back to Menu</a>
</h4>
<h4>
	<a href="/">Home</a>
</h4>