<h2>
	Party Details
</h2>

<table>
	<tr>
		<th>Table Number</th>
		<th>Number of Guests</th>
		<th>Paid?</th>
	</tr>
	<tr>
		<td>
			<%= @party.table_number %>
		</td>
		<td>
			<%= @party.guests %>
		</td>
		<td>
			<%= @party.pay_status %>
		</td>
	</tr>
</table>


<h4>
	<a href="/parties">
		Back to Parties
	</a>
</h4>
<h4>
	<a href="/">
		Home
	</a>
</h4>