<h1>
	Add a Party
</h1>

<form class="content" action="/parties" method="post">
	<p>
		Surname:
		<input type="text" name="party[surname]" />
	</p>
	<p>
		Table Number:
		<input type="text" name="party[table_num]" />
	</p>	
	<p>
		Number of Guests:
		<input type="text" name="party[guests_num]" />
	</p>
	<p>
		Paid? 
		<input type="text" name="party[has_paid]" placeholder="true/false" />
	</p>
	<input type="submit" name="Add Party" />
</form>

<div>
	<footer>
		<a class="nav" href="/parties">
			Back to Parties
		</a>
		<a class="nav" href="/">
			Home
		</a>
	</footer>
</div>